apiVersion: v1
kind: Secret
metadata:
  name: nexora-secret
  namespace: nexora
  labels:
    app.kubernetes.io/name: nexora-secret
    app.kubernetes.io/part-of: nexora-stack
type: Opaque
stringData:
  POSTGRES_PASSWORD: "nexorapassword"
  DATABASE_URL: "postgresql://nexora:nexorapassword@postgres-service:5432/nexora_cms"
  CLERK_SECRET_KEY: "CHANGE_ME_CLERK_SECRET_KEY"
  NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: "CHANGE_ME_CLERK_PUBLISHABLE_KEY"
